


<div class="storeLocationInfo" itemscope="" itemtype="http://schema.org/Store">
<a href="javascript:void(0)" data-ng-click="selectStore(marker)">
<h4 itemprop="name">{{marker.location.StoreName}}</h4>
</a>
<div class="hidden meta">
<div class="store-number">{{marker.location.StoreNumber}}</div>
<div class="store-id">{{marker.location.StoreId}}</div>
</div>
<ul>
<li>
<address>
{{marker.location.PrimaryAddress}}<br>
{{marker.location.City}}, {{marker.location.StateName}} {{marker.location.PostalCode}}<br>
{{marker.location.Phone}}
<i data-ng-if="searchCompleted">{{marker.location.zDistance}} miles</i>
</address>
<address itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
<span itemprop="streetAddress">{{marker.location.PrimaryAddress}}</span><br>
<span itemprop="addressLocality">{{marker.location.City}}</span>, <span itemprop="addressRegion">{{marker.location.StateName}}</span> <span itemprop="postalCode">{{marker.location.PostalCode}}</span><br>
<span itemprop="telephone">{{marker.location.Phone}}</span><br>
<i data-ng-if="searchCompleted">{{marker.location.zDistance}} miles</i>
</address>
</li>
<li><strong>store hours:</strong></li>
<li data-ng-bind-html="marker.location.OpenHoursDisplay" itemprop="openingHours"></li>
<li data-ng-show="marker.location.PharmacyHours" itemscope="" itemtype="http://schema.org/Pharmacy"><strong>pharmacy hours:</strong>
<h2 itemprop="name" class="hidden">{{marker.location.StoreName}} Pharmacy</h2>
<div itemprop="description"></div>
<div>open: <span itemprop="openingHours">{{marker.location.PharmacyHours}}</span></div>
<div data-ng-if="marker.location.PharmacyPhone">phone: <span itemprop="telephone">{{marker.location.PharmacyPhone}}</span></div>
</li>
<!--<li data-ng-bind-html="marker.location.Misc1"></li>
<li data-ng-bind-html="marker.location.Misc2"></li>
<li data-ng-bind-html="marker.location.Misc3"></li>-->
<li data-ng-include="getContentUrl('/views/amenities.html')"></li>

<li><a href="javascript:void(0)" data-ng-click="selectStore(marker)" class="btn">select store</a></li>
</ul>
</div>