<div class="storeLocationInfo" itemscope="" itemtype="http://schema.org/Store">
  <a href="javascript:void(0)" data-ng-click="selectStore(marker)">
    <h4 itemprop="name">{{marker.location.StoreName}}</h4>
  </a>
  <div class="hidden meta">
    <div class="store-number">{{marker.location.StoreNumber}}</div>
    <div class="store-id">{{marker.location.StoreId}}</div>
  </div>
  <ul>
    <li>
      <address itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{marker.location.PrimaryAddress}}</span><br>
        <span itemprop="addressLocality">{{marker.location.City}}</span>, <span itemprop="addressRegion">{{marker.location.StateName}}</span> <span itemprop="postalCode">{{marker.location.PostalCode}}</span><br>
        <span itemprop="telephone">{{marker.location.Phone}}</span><br>
        <i data-ng-if="searchCompleted">{{marker.location.zDistance}} miles</i>
      </address>
    </li>
    <li><strong>store hours:</strong></li>
    <li data-ng-bind-html="marker.location.OpenHoursDisplay" itemprop="openingHours"></li>
    <li data-ng-show="marker.location.PharmacyHours" itemscope="" itemtype="http://schema.org/Pharmacy"><strong>pharmacy hours:</strong>
      <h2 itemprop="name" class="hidden">{{marker.location.StoreName}} Pharmacy</h2>
      <div itemprop="description"></div>
      <div>open: <span itemprop="openingHours">{{marker.location.PharmacyHours}}</span></div>
      <div data-ng-if="marker.location.Settings[20].SettingValue">phone: <span itemprop="telephone">{{marker.location.Settings[20].SettingValue}}</span></div>
    </li>
    <li data-ng-bind-html="marker.location.Misc1" data-ng-if="marker.location.Misc1" style="clear: both"></li>
    <li data-ng-bind-html="marker.location.Misc2" data-ng-if="marker.location.Misc2" style="clear: both"></li>
    <li data-ng-bind-html="marker.location.Misc3" data-ng-if="marker.location.Misc3" style="clear: both"></li>

    <li style="clear: both"><a href="javascript:void(0)" data-ng-click="selectStore(marker)" class="btn">select store</a></li>
  </ul>
</div>