<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker">
      <img alt="Mauro Mafrici" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/aldo/header.jpg')}}" />
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef flex">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-7 chefInfo">
				<h4>ALDO</h4>
				<p>In 1998, Aldo Zaninotto’s dream first came true with the opening of a restaurant he could call his own – Savarin, in Chicago’s River North neighborhood – in collaboration with well-known Chef John Hogan, previously Chef at Kiki’s Bistro.</p>	
				<br />
				<p>Aldo was born and raised in Europe (Belgium and Italy) from first generation Italian parents who were key to the introduction of traditional Italian gastronomy in Belgium. Essentially born in a restaurant, Aldo felt his parents’ passion through their business, and his destiny was clear.</p>	
				<br />
				<p>Graduating with honors from one of the top restaurant schools in Europe, CERIA, gave Aldo an opportunity to work with some of the best 1 and 2 star restaurants in Brussels, involved in all aspects of the business while learning from the best, front and back of the house.</p>	
				<br />
				<p>In 1988, Aldo landed in New York City where he worked exclusively with some of the top fine dining restaurants in the city, such as San Domenico and Le Perigord. Next he made his way to Los Angeles, where over 4 years he worked at the very best of Los Angeles: L’Orangerie; La Toque; Fleur de Vin; Celestino; Patina.</p>	
				<br />
				<p>Invited in 1994 to Chicago by The Carlucci Group to run their flagship restaurant, Carlucci’s, as manager, Aldo was soon promoted to General Manager. In 1996, he became the General Manager for what would become Ditka’s.</p>	
				<br />
				<p>In 2013 Aldo Zaninotto met Cameron Grant. The dream is again coming true.</p>							
            </div>
			<div class="col-md-5 chefCart">
				<h4>What’s in Aldo’s Cart</h4>
				<div id="chef" class="chefImageGallery" data-ng-init="tasteMakerName = 'aldo'">
					<span data-model="{ id: '01', title: 'Moroccan Couscous - I love Middle-Eastern food. It reminds me of when I worked in Morocco and Tunisia in my youth. It\'s an easy dish that I make almost once every other week and can keep in my refrigerator and takes me away from my every day Italian food.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '02', title: 'Radicchio - Radicchio is really awesome and brings tons of elements such as structure and taste to a perfect [salad] mix. It can also be use as cooked for bitterness perhaps chopped and sautéed in olive oil before adding my beaten eggs in the pan for my breakfast.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '03', title: 'Harissa - I always make sure I have access to it in my house. I love the flavor combine of peppers with a hint of heat. Perfect for basis in soups and broth.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '04', title: 'Chicken broth - Always an essential in my kitchen. So much can be done with it from soup base, to sauces, or just as a simple light base pasta dish. I always look for the Roundy\'s brand.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '05', title: 'Chicken Thighs - Something that can be prepared in advance and kept. Rub with spices (cumin, paprika, harissa or lemon).', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '06', title: 'Tomatoes on the Vine - A meal without a salad is not a complete meal for me. Slice and serve on grilled bread with cream cheese or feta, salt and pepper and olive oil, or add to any salad that I make — it makes it complete.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '07', title: 'Tuscan Extra Virgin Olive Oil - Most of my home cooking is based with olive oil. It brings a different element to any dish or to top at the end due to its flavor and acidity. I am always on the look for the extra virgin olive oil. Look at the depth in color and it will be the good one.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '08', title: 'Red wine vinegar - The use of red wine vinegar is essential for me in a salad, I do like the acidity that helps to bring flavor of the lettuce with the use of arugula or Radicchio. The red wine vinegar offers acidity but also richer character in flavor (fruit flavor due to grapes).', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '09', title: 'Coffee - As per my culture, coffee is the essential ingredient for a great start of the day. I like it with more intense flavor and boldness. My perfect style is Peet\'s mild and dark roast.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '10', title: 'Frontera Lime Tortilla Chips - That perfect crunch with that hint of line and salt ... Mhmmm. You will never go back to regular tortilla chips and no other brands come close to it. Plus, the recipe is produced by an icon of Chicago!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '11', title: 'Hickory Smoked Bacon - The most important meal is breakfast. A great smoky bacon makes a perfect start of the day.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '12', title: 'Feta Cheese - I get feta over-the-counter at Mariano\'s. I always get Bulgarian Feta, which has more salty character and is softer with great flavors. Another essentials in my fridge and a great addition to my breakfast, salads, side dishes and the list can go on...', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
				</div>
            </div>
            <div class="divider"></div>
			<br />
			<br />
			<div class="col-md-7 chefInfo">
				<h4>CAMERON</h4>
				<p>Cameron Grant has striven for the last 15 years to excel in creating food and managing kitchens, starting with his University cafeteria. Within 5 years he became an executive chef of Laudisio, a family-run Italian restaurant in Boulder, Colorado, after accepting the good fortune of opening their brand new $3 million Italian flagship restaurant. The Laudisio family provided the opportunity for Cameron to do a three month stage at Michelin-starred restaurant La Ciau Del Tornavento in the Barbaresco zone of Piemonte, Italy. Here, he gained essential respect for the Italian food culture and fell in love with the unique way of life. Building a restaurant around incredible fresh ingredients and wine was a revelation.</p>
				<br />
				<p>Born in Edinburgh, Scotland, Cameron developed a love of food from his mother. The family had an extensive fruit and vegetable garden and he remembers being sent to his room without dinner only to sneak out to the vegetable garden and satisfy his appetite with fresh peas, strawberries, and raspberries. His mother ran a successful catering business out of the home for local executives. Cameron learned to appreciate local Scottish produce, seafood, game, venison, lamb, and beef, and his passion for food has come from this history of home-cooked meals.</p>
				<br />
				<p>Five years after his stage at La Ciau Del Tornavento, Cameron moved back to Treiso, Italy to open his own restaurant, moving with his wife and golden Labrador to follow the dream. As an enthusiastic Scottish-American chef, he sparked the interest of many by opening a fine dining Osteria in the heart of Piemontese wine country. Surrounded by Michelin-starred chefs, he fought to give the locals and tourists something they had never seen while incorporating the life-changing local ingredients into his innovative and culturally diverse menu. Ultimately selling his share of the restaurant to his partner, Cameron moved back to the United States to be closer to his family while seeking a new challenge and adventure.</p>
				<br />
				<p>Cameron, in 2012, was recruited by the Intercontinental Hotel in Rosemont to open their signature Mediterranean restaurant, Fresco 21. The hotel provided room service for 550 rooms, while servicing breakfast, lunch, dinner, and late night food. Fresco 21 celebrates the ingredients from France, Italy, Spain, Greece, and the other 21 countries that border the Mediterranean Sea. Cameron, after 2 years of running the operation in Rosemont, found an opportunity to open a restaurant with new-found friend Aldo Zanninoto.</p>
				<br />
				<p>Cameron is extremely excited to be in Logan Square, where he can bring all of his passion and excitement to this amazing neighborhood.</p>							
            </div>
			<div class="col-md-5 chefCart">
				<h4>What’s in Cameron’s Cart</h4>
				<div id="chef" class="chefImageGallery" data-ng-init="tasteMakerName2 = 'cameron'">
					<span data-model="{ id: '01', title: 'Dietz & Watson: Black Forest turkey - My kids and I love this for sandwiches multiple days a week.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '02', title: 'Snyders: Gluten-free pretzel sticks - Must-have snack for my kids.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '03', title: 'Almond milk - Myself, wife, and both boys are sensitive to dairy. This a is a must-have.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '04', title: 'Applegate: turkey bacon - Breakfast of champions a few days a week, plus school lunches.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '05', title: 'Daiya: cheese - Great for omelets and pizzas for my dairy-free family.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '06', title: 'Lays: salt and vinegar chips - Guilty pleasure for all.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '07', title: 'Peppered hot smoked salmon - A Mariano’s classic — great for salads, pastas, and rice for me and my wife.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '08', title: 'Gluten-free waffles - Must-have. We eat them for breakfast a lot.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '09', title: 'Rick Bayless: mild taco meat mix - Easiest thing with guacamole for taco night.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '10', title: 'Mini bell pepper mix - Perfect healthy snack that the boys love.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '11', title: 'Organic apples - Every night before bed snack.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '12', title: 'La Croix: pampelmousse grapefruit seltzer - Such a great drink that is not soda.', name: tasteMakerName2 }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
				</div>
            </div>
			<div class="divider"></div>
            <div class="row">
                <div class="col-md-4 chefRecipe imgwidth-auto">
                    <a href="recipe?id=72252">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/cameron/_55A1969.png')}}" />
                        <h5>Plin</h5>
                    </a>
                </div>
				<div class="col-md-4 chefRecipe imgwidth-auto">
					<img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/aldo/recipeIcon.jpg')}}" />
                </div>
				<div class="col-md-4 chefRecipe imgwidth-auto">
                    <a href="recipe?id=72253">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/cameron/_55A1946.png')}}" />
                        <h5>Vitello Tonnato</h5>
                    </a>
                </div>
                <script src="http://cdn.gsngrocers.com/script/lib/bootstrap-image-gallery.min.js"></script>                 
                <link href="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.2/css/blueimp-gallery.min.css" rel="stylesheet" type="text/css">   
                <link href="http://cdn.gsngrocers.com/script/lib/bootstrap-image-gallery.min.css" rel="stylesheet" type="text/css">        

                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="overflow: hidden">
                  <!-- The container for the modal slides -->
                  <div class="slides"></div>
                  <!-- Controls for the borderless lightbox -->
                  <h3 class="title">&nbsp;</h3>
                  <a class="prev">‹</a>
                  <a class="next">›</a>
                  <a class="close">X</a>
                  <a class="play-pause"></a>
                  <ol class="indicator"></ol>
                  <!-- The modal dialog, which will be used to wrap the lightbox content -->
                  <div class="modal fade">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" aria-hidden="true"></button>
                          <h4 class="modal-title">&nbsp;</h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                          </button>
                          <button type="button" class="btn btn-primary next">
                            Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

