<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker">
       <img alt="Belinda Chang" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/belindachang/header.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix">
    <div class="row chef flex">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-7 chefInfo">
				<p>Partner and Director of Wine and Service Belinda Chang brings her James Beard Award-winning wine expertise and fun-loving personality to Maple & Ash, the Gold Coast’s modern Chicago-style steakhouse. Chang’s culinary career began at Chicago’s Charlie Trotter’s, starting as a food runner in 1997 and ascending the ranks to sommelier and then wine director in 1999. The young sommelier wrote wine notes for Charlie Trotter’s Meat and Game cookbook, and led the restaurant to earn Wine Spectator’s Grand Award in 2000, 2001, and 2002.</p>
				<br />
				<p>Chang then moved on to San Francisco’s Wine Spectator Grand Award-winning Fifth Floor alongside chef Laurent Gras, at which she earned accolades including 7x7 Magazine’s “Top 20 People Under 40” in 2003, San Francisco Magazine’s Critic’s Choice Wine Director of the Year in 2004, and a nomination for the James Beard Foundation’s Outstanding Wine Service award.</p>
				<br />
				<p>Lettuce Entertain You restaurant group beckoned Chang back to Chicago in 2004, to lead wine and service for Osteria Via Stato and Big Bowl, helping earn Chicago Magazine’s Best New Restaurant award in 2005. She went on to work with chef Rick Tramonto as corporate director of wine and spirits for Cenitare, launching four concepts and writing wine notes for The Osteria Cookbook and Fantastico!</p>
				<br />
				<p>The sommelier then set her sights on The Big Apple and joined THE MODERN, at which she earned James Beard’s Outstanding Wine Service award. By 2013, with 10 restaurant openings under her belt, Chang shifted gears to fill the role of Champagne educator for Moët Hennessy and launch the West Village Wine Collective.</p>
				<br />
				<p>Throughout her career, Chang has contributed wine notes for numerous publications and authored articles for the likes of The Atlantic, Chicago Magazine, and Sommelier Journal. She has also appeared as a Champagne and cocktail expert on CNBC, Bloomberg News, Fox News, and Martha Stewart Radio, and has presented Food & Wine’s Taste of Beverly Hills and Aspen Classic. Additional recognitions include Moët’s President’s Team Award for Champagne Strategy in 2014, Food & Wine’s “Best New Wine Lists of 2007” for Osteria di Tramonto, Oprah Magazine’s “Nine of the World’s Top Women Vintners,” and multiple nominations for the Jane Banchet Sommelier of the Year award.</p>
            </div>
			<div class="col-md-5 chefCart">
				<h4>What’s in Belinda’s Cart</h4>
				<div id="chef1" class="chefImageGallery" data-ng-init="tasteMakerName = 'belindachang'">
					<span data-model="{ id: '01', title: 'French onion soup mix: An ingredient I like to have on hand for my champagne friendly French Onion dip!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '02', title: 'Greek yogurt: A great snack & another ingredient to have on hand to add to my quick & easy French Onion dip.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '03', title: 'Cilantro: It’s the finishing touch I like to add to my French onion dip.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '04', title: 'Sea salt & vinegar chips: My favorite chips to go along with French onion dip.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '05', title: 'Fresh Mint: My favorite way to elevate a drink, whether a cocktail or a mocktail or even a pitcher of water is a beautiful sprig of mint. I always have fresh mint in my fridge. It is even great for decorating a savory dish – there are so many delicious dishes that are so brown, right?', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
				    <span data-model="{ id: '06', title: 'Lemons: What doesn’t taste better with a squeeze of fresh lemon juice? Always have a lemon handy. For everything.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '07', title: 'Limes: Gotta have limes around, everything that tastes better with a lemon.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '08', title: 'Fresh ginger: I’ve been working seven days a week opening this restaurant and a fresh ginger and lemon tea has been keeping me going! Peeling the whole ginger with a spoon is one of my favorite kitchen tricks.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '09', title: 'Amstel Light Beer: I’ve been stocking this beer in my fridge since I was in college. After a long day essentially throwing a dinner party and pouring wine for 500 guests at Maple & Ash, all I want is a cold beer!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '10', title: 'Roundy’s Purified Water: I did a pretty intense bottled water blind tasting (!) recently with a journalist and this water won! The most refreshing and delicious!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '11', title: 'Black Beans: With all of the excess (wines, steaks, shellfish towers) hedonism that I am surrounded by at all times, I sometimes like to take a vegan break! Black bean dip, black beans with pico de gallo and cilantro wrapped in a warm torilla, black bean and tofu chorizo stuffed peppers – yum!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '12', title: 'La Croix Grapefruit Sparkling Water: just as I love classic wines with classic flavors, I love this simple drink with one delicious flavor. Plus, plain sparkling water is boring.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
				</div>
            </div>
			<div class="divider"></div>
            <div class="row">
                <h4 style="text-align: center;padding-bottom: 10px;">belinda's restaurant</h4>
                <div class="col-md-12 chefRecipe" >
                    <a href="http://www.mapleandash.com/" target="_blank">
                        <img alt="http://www.mapleandash.com/" data-ng-src="{{getContentUrl('/images/belindachang/mapleandashlogo.jpg')}}" />
                    </a>
					<h5>Maple & Ash</h5>
                </div>
            </div>

			<div class="divider"></div>
            <div class="row">
                <div class="col-md-6 chefRecipe imgwidth-auto">
                    <a href="recipe?id=0">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/belindachang/Downstairsburger.jpg')}}" />
                        <h5>Downstairs Burger</h5>
                    </a>
                </div>
                <div class="col-md-6 chefRecipe imgwidth-auto">
                    <a href="recipe?id=0">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/belindachang/Frenchonion-dip.jpg')}}" />
                        <h5>Belinda’s French Onion Dip</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>
</div>

<script>
  $(document).ready(function() {
      console.log("loaded chefs")

        $('#chef1 span').live('click',function() {
          var links = [];
            $('#chef1 span').find('img').each(function() {
              //console.log($(this).context.currentSrc);
              links.push($(this).context.currentSrc);

          });
        });


  });
</script>
