<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/AVtcN2Yjksg?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Stephanie Izard" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/stephanieIzard/stephanieIzardHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef izard">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-6 chefInfo">
				<p>As the first woman to win Top Chef, Izard’s Girl and the Goat restaurant is one of the hardest reservations to get in town. Her second restaurant across the street keeps a line wrapped around the block on a daily basis. Izard has won numerous accolades including Food & Wine’s Best New Chef and has been nominated for the James Beard Best Chef: Great Lakes 2012 and the winner of the James Beard Best Chef: Great Lakes 2013. Bon Appétit considers Izards a “top 10 chef” to follow on social media. Slated to open her third restaurant this fall, Duck Duck Goat , Stephanie still finds time to shop Mariano’s and cook at home with her husband Gary Valentine.</p>
            </div>
			<div class="col-md-6 chefCart">
				<h4>What’s in Stephanie’s Cart</h4>
				<div id="chef" class="chefImageGallery" data-ng-init="tasteMakerName = 'stephanieIzard'">
					<span data-model="{ id: '01', title: 'Stephanie loves to jazz up her husband’s favorite tomato sauce, Mid’s, by adding onions, meat and veggies for an easy meal at home.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '02', title: 'A quick snack for this Top Chef is Philadelphia Whipped Cream Cheese, matzo and turkey.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '03', title: 'In her restaurants, she makes Harissa in-house, but for home this is a great way to add spice when finishing sauces, soups, or add to mayo for a spicy aioli.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '04', title: 'As a fan of blind taste tests, Stephanie picked Red Gold Tomatoes and now uses them not only at home but in her restaurants too!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '05', title: 'Hidden Valley Ranch dressing is always a staple in Stephanie’s fridge and she loves the awesome squeeze bottle!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '06', title: 'Stephanie converted to Tamari at Girl & the Goat as gluten-free soy option and loved the flavor so much that she changed at home as well.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '07', title: 'Put a little condensed milk in your coffee or tea and Stephanie promises that you’ll never want to drink it any other way again! Also, whip a little into whipped cream- yummy!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '08', title: 'Stephanie likes to make French bread pizzas with the fun spreadable eggplant condiment, Alver, which is a great alternative to tomato sauce and found in the international aisle.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '09', title: 'After traveling through Asia, Stephanie found herself addicted to Pocki and was thrilled to find them at Mariano’s in the International aisle, where she’s often found shopping.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '10', title: 'Stephanie votes for the Mini M&M’s because they have a better crunch to chocolate ratio.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '11', title: 'Stephanie loves all of Buchinni’s products and this vinegar is great to infuse with herbs and use as a light dressing during spring and summer.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '12', title: 'Why buy the small bag when you can get the big carton of Goldfish crackers? Stephanie goes for the whole grain and doesn’t feel so badly after polishing off the whole container!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '13', title: 'Stephanie choses Chaokoh coconut milk when braising meats or cooking stews.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '14', title: 'Stephanie thinks everyone should keep Sambal as their go-to hot sauce in their fridge all the time.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
					<span data-model="{ id: '15', title: 'Stephanie and her husband put the grains in a rice cooker in the morning and then make fried rice for dinner when they get home. They go through a large bag of rice every few weeks.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
				</div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 restaurants">
                    <h4>Stephanie's restaurant</h4>
                    <div class="row">
                        <div class="col-md-6 stores eo">
                            <a href="http://littlegoatchicago.com/" target="_blank">
                                <img alt="RPM Italian" data-ng-src="{{getContentUrl('/images/stephanieIzard/logo.png')}}" />
                                <h5>GIRL & THE GOAT</h5>
                            </a> 
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 chefRecipe">
                    <a href="recipe?id=71794">
                        <img alt="" data-ng-src="{{getContentUrl('/images/stephanieIzard/recipeIcon.png')}}" />
                        <h5>Sloppy “Goat” with ground beef</h5>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

