<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker">
       <img alt="Lamar Moore" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/lamarmoore/header.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix">
    <div class="row chef flex">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-7 chefInfo">
				<p>Chef Lamar Moore was born and raised in Chicago.  He began showing his love for culinary arts at the age of 8.  Growing up in a large family, Chef Lamar learned the importance of cooking with love, taking care of people, and giving back to those less fortunate. While cooking at his grandmother’s side and he continues to cook from the soul and keep his culinary team happy and evolving in the industry.</p>
				<br />
				<p>Chef Lamar has maintained a progressive culinary career with more than 15 years of experience from sports stadiums to restaurants and now hotels.  As an Executive Chef, Lamar is responsible for providing guests with an extraordinary culinary experience.  In addition to the menu development, Chef Lamar coordinates the culinary experiences for various banquet events including weddings, parties, and corporate events.
				Chef Lamar is a qualified Professional Chef, holding a degree in Culinary Arts from Le Cordon Bleu in Chicago.  He has traveled the world to Europe, Greece, and throughout the United States extending his knowledge and expertise of international cuisine by visiting local markets and restaurants.</p>
				<br />
				<p>Chef Lamar has extensive expertise creating dishes in a variety of cuisines ranging from Latin American to Peruvian as well as American and French fine dining.  He takes pride in the relationships he has developed over the years and always does business with local farmers who produce the freshest ingredients.
				As a member of the American Culinary Federation, Chef Lamar has connected with other professional Chefs as well as mentored aspiring Chefs.  As the Keynote Speaker at the National Restaurant Association Show, Chef Lamar provided over 1000 future Chefs with insight, guidance and direction.
				Chef Lamar has also been featured in many media outlets including Zagat News Weekly, PlateOnline.com, Food Networks “and the Chicago Tribune, just to name a few.</p>
				<br />
				<p>Giving back to the community is important to Chef Lamar.  He has graciously accepted the role of mentor and leader for ProStart and volunteers to share his culinary experience with local Chicago Public School students by conducting demonstrations and workshops.</p>
				<br />
				<p>At home, he enjoys cooking and surfing the web.  When he’s not working, he enjoys social gatherings, going to the gym, snowboarding, and fishing.</p>
				<br />
				<p>Chef Lamar Moore’s advice to aspiring chefs:  remember that hard work coupled with sacrifice equals success, and leadership is not a position or title, it is an action and example.</p>
            </div>
			<div class="col-md-5 chefCart">
				<h4>What’s in Lamar’s Cart</h4>
				<div id="chef1" class="chefImageGallery" data-ng-init="tasteMakerName = 'lamarmoore'">
					<span data-model="{ id: '01', title: 'Wheat bread: Soft, fresh wheat bread is a staple in our home.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '02', title: 'Raisin bran cereal: it’s a great healthy alternative that’s 	reasonably priced.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '03', title: 'Jasmine rice: My family and I are huge rice consumers, and the bag size is enough for weeks at a time. The same quality of rice I use in my professional kitchen.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '04', title: 'Lay’s: great late-night snack.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '05', title: 'Crew hair gel: Mariano’s is one-stop shopping so I don’t have to go to another store to purchase.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
				    <span data-model="{ id: '06', title: 'Riesling: most stores don’t carry a great selection of wine, but at Mariano’s there’s quite a bit of selection.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '07', title: 'Fresh corn on the cob: I love to grill corn on the cob or make corn salsa.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '08', title: 'Fresh asparagus: I love cooking with fresh vegetables and that’s the first things you see when you walk into any Mariano’s - it makes you want to grab everything!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '09', title: 'Ribeye steaks: they are always fresh, reasonably priced and it’s always enough to feed my family.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '10', title: 'V8 juice: When trying to stay healthy and always on the go for work, this juice is perfect in the morning.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
					<span data-model="{ id: '11', title: 'Premium crab cakes: one day I purchased these signature crab cakes and they’ve been a hit ever since!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '12', title: 'Chicken thighs: I feel they are the most flavorful part of the chicken.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" >
					</span>
				</div>
            </div>
			<div class="divider"></div>
            <div class="row">
                <h4 style="text-align: center;padding-bottom: 10px;">lamar's restaurant</h4>
                <div class="col-md-12 chefRecipe" >
                    <a href="http://www.thesmokedaddy.com/" target="_blank">
                        <img alt="http://www.animalechicago.com/" data-ng-src="{{getContentUrl('/images/lamarmoore/smokedaddylogo.jpg')}}" />
                    </a>
					<h5>The Smoke Daddy</h5>
                </div>
            </div>

			<div class="divider"></div>
            <div class="row">
                <div class="col-md-4 chefRecipe imgwidth-auto">
                    <a href="recipe?id=72346">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/lamarmoore/egghole.jpg')}}" />
                        <h5>Egg in the Hole</h5>
                    </a>
                </div>
                <div class="col-md-4 chefRecipe imgwidth-auto">
                    <a href="recipe?id=72345">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/lamarmoore/bbqspice.jpg')}}" />
                        <h5>BBQ Spice</h5>
                    </a>
                </div>
				        <div class="col-md-4 chefRecipe imgwidth-auto">
                    <a href="recipe?id=72347">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/lamarmoore/mexicanstreetcorn.jpg')}}" />
                        <h5>Mexican Street Corn</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>
</div>

<script>
  $(document).ready(function() {
      console.log("loaded chefs")

        $('#chef1 span').live('click',function() {
          var links = [];
            $('#chef1 span').find('img').each(function() {
              //console.log($(this).context.currentSrc);
              links.push($(this).context.currentSrc);

          });
        });


  });
</script>
