<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker">
       <img alt="Lamar Moore" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/lamarmoore/header.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef flex">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-7 chefInfo">
				<p>Chef Lamar Moore was born and raised in Chicago.  He began showing his love for culinary arts at the age of 8.  Growing up in a large family, Chef Lamar learned the importance of cooking with love, taking care of people, and giving back to those less fortunate. While cooking at his grandmother’s side and he continues to cook from the soul and keep his culinary team happy and evolving in the industry.</p>
				<br />
				<p>Chef Lamar has maintained a progressive culinary career with more than 15 years of experience from sports stadiums to restaurants and now hotels.  As an Executive Chef, Lamar is responsible for providing guests with an extraordinary culinary experience.  In addition to the menu development, Chef Lamar coordinates the culinary experiences for various banquet events including weddings, parties, and corporate events.  
				Chef Lamar is a qualified Professional Chef, holding a degree in Culinary Arts from Le Cordon Bleu in Chicago.  He has traveled the world to Europe, Greece, and throughout the United States extending his knowledge and expertise of international cuisine by visiting local markets and restaurants.</p>
				<br />
				<p>Chef Lamar has extensive expertise creating dishes in a variety of cuisines ranging from Latin American to Peruvian as well as American and French fine dining.  He takes pride in the relationships he has developed over the years and always does business with local farmers who produce the freshest ingredients.
				As a member of the American Culinary Federation, Chef Lamar has connected with other professional Chefs as well as mentored aspiring Chefs.  As the Keynote Speaker at the National Restaurant Association Show, Chef Lamar provided over 1000 future Chefs with insight, guidance and direction.
				Chef Lamar has also been featured in many media outlets including Zagat News Weekly, PlateOnline.com, Food Networks “and the Chicago Tribune, just to name a few.</p>
				<br />
				<p>Giving back to the community is important to Chef Lamar.  He has graciously accepted the role of mentor and leader for ProStart and volunteers to share his culinary experience with local Chicago Public School students by conducting demonstrations and workshops.</p>
				<br />
				<p>At home, he enjoys cooking and surfing the web.  When he’s not working, he enjoys social gatherings, going to the gym, snowboarding, and fishing.</p>
				<br />
				<p>Chef Lamar Moore’s advice to aspiring chefs:  remember that hard work coupled with sacrifice equals success, and leadership is not a position or title, it is an action and example.</p>							
            </div>
			<div class="col-md-5 chefCart">
				<h4>What’s in Lamar’s Cart</h4>
				<div id="chef1" class="chefImageGallery" data-ng-init="tasteMakerName = 'lamarmoore'">
         
          <span 
              data-model="{ id: '01', title: 'Wheat bread - Bread is always fresh never expiring dates, good soft loaves.', name: tasteMakerName }" 
              data-ng-include="getContentUrl('/views/custom/gallery-item.html')" 
              data-gsn-watch="" >
          </span>
          <span data-model="{ id: '02', title: 'Raisin brand crunch cereal - Great healthy alternative that\'s reasonably priced.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '03', title: 'Jasmine rice - My family and I are huge rice consumers, and the bag size is enough for weeks at a time. The same quality of rice I use in my professional kitchen.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '04', title: 'Lays potato chips - Good late night snack and never past expiration date.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
          <span data-model="{ id: '05', title: 'Crew hair gel - One-stop shopping. Cheaper prices and I don\'t have to go to different store to buy.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
          <span data-model="{ id: '06', title: 'Riesling - Most stores don\'t carry a great selection of wine, but here at Mariano\'s there is quite a bit of selection. I have had lots of great Reislings.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
          <span data-model="{ id: '07', title: 'Fresh corn on Cobb - Love to grill corn on the Cobb or make corn salsa and is always a go to quick easy option.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
          <span data-model="{ id: '07', title: 'Fresh corn on Cobb - Love to grill corn on the Cobb or make corn salsa and is always a go to quick easy option.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
          <span data-model="{ id: '08', title: 'Fresh Asparagus - Love cooking with fresh vegetables and walking into any Mariano’s that\'s the first sight — makes you want to grab everything!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
          <span data-model="{ id: '09', title: 'Ribeye steaks - The prices are always reasonable, great product, fresh, and enough to feed my family.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
          <span data-model="{ id: '10', title: 'V8 juice - When trying to stay healthy and being on the go for work, my family and I make smoothies on the morning or just a plain ole cup of juice.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '11', title: 'Premuim crab cakes - My family loves when I cook crab cakes, but I don\'t always feel up to it. One day I purchased these signature crab cakes, and they have been a hit ever since!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
					<span data-model="{ id: '12', title: 'Chicken thighs - I feel it\'s the most flavorful part of the chicken, I can always find some of the best organic chicken, and antibiotic free at Mariano\'s.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
				</div>
            </div>
			<div class="divider"></div>
            <div class="row">
                <h4 style="text-align: center;padding-bottom: 10px;">lamar's restaurant</h4>
                <div class="col-md-12 chefRecipe" >
                    <a href="http://www.thesmokedaddy.com/" target="_blank">
                        <img alt="http://www.animalechicago.com/" data-ng-src="{{getContentUrl('/images/lamarmoore/smokedaddylogo.jpg')}}" />
                    </a>
					<h5>The Smoke Daddy BBQ</h5>
                </div>
            </div> 
			
			<div class="divider"></div>
            <div class="row">
                <div class="col-md-4 chefRecipe imgwidth-auto">
                    <a href="recipe?id=72346">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/lamarmoore/egghole.jpg')}}" />
                        <h5>Egg in the Hole</h5>
                    </a>
                </div>
                <div class="col-md-4 chefRecipe imgwidth-auto">
                    <a href="recipe?id=72345">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/lamarmoore/bbqspice.jpg')}}" />
                        <h5>BBQ Spice</h5>
                    </a>
                </div>
				        <div class="col-md-4 chefRecipe imgwidth-auto">
                    <a href="recipe?id=72347">
                        <img alt="recipeIcon" data-ng-src="{{getContentUrl('/images/lamarmoore/mexicanstreetcorn.jpg')}}" />
                        <h5>Mexican Street Corn</h5>
                    </a>
                </div>
                <script src="http://cdn.gsngrocers.com/script/lib/bootstrap-image-gallery.min.js"></script>                 
                <link href="//cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.2/css/blueimp-gallery.min.css" rel="stylesheet" type="text/css">   
                <link href="http://cdn.gsngrocers.com/script/lib/bootstrap-image-gallery.min.css" rel="stylesheet" type="text/css">        

                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="overflow: hidden">
                  <!-- The container for the modal slides -->
                  <div class="slides"></div>
                  <!-- Controls for the borderless lightbox -->
                  <h3 class="title">&nbsp;</h3>
                  <a class="prev">‹</a>
                  <a class="next">›</a>
                  <a class="close">X</a>
                  <a class="play-pause"></a>
                  <ol class="indicator"></ol>
                  <!-- The modal dialog, which will be used to wrap the lightbox content -->
                  <div class="modal fade">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" aria-hidden="true"></button>
                          <h4 class="modal-title">&nbsp;</h4>
                        </div>
                        <div class="modal-body next">

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                          </button>
                          <button type="button" class="btn btn-primary next">
                            Next
                           <i class="glyphicon glyphicon-chevron-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

<script>
  $(document).ready(function() {
      console.log("loaded chefs")
        
        $('#chef1 span').live('click',function() {
          var links = [];
            $('#chef1 span').find('img').each(function() {
              //console.log($(this).context.currentSrc);
              links.push($(this).context.currentSrc);
              
          });
        });
        

  });
</script>